body {
    background-image: url("https://pre00.deviantart.net/2ad1/th/pre/f/2017/254/8/e/doomfist_vector_background_by_whitebozo-dbn55f0.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.painel_galeria{
  background-color:black;
  border: 2px solid black;
  box-shadow: -5px 1px 10px black;
}

img:focus {
  outline: 2px solid blue;
}